<div class="message-tile" >
  <div class="message-tile-sender-name">{{ from }}</div>
  <div class="message-tile-teaser">
    </span class="message-tile-subject"><span>about my diploma : </span> Hey ped, such good news that the certificate arrived! So strange that it did, but that the book didnt right? That means i should leave my uni address as is right?

    <div class="clickable cancel"></div>
    <div class="message-tile-avatar" style="background-image: url(images/avatar1.png)"></div>
  </div>
</div>
