<div class="message-tile-sender-name">{{ from }}</div>
<div class="message-tile-teaser">
  </span class="message-tile-subject"><span>{{ subject }} : </span> {{ body }}

  <div class="clickable cancel"></div>
  <div class="message-tile-avatar" style="background-image: url(images/avatar1.png)"></div>
</div>
