.tiles-container
  display: -webkit-flex
  -webkit-justify-content: space-around
  -webkit-flex-wrap: wrap
  margin: 1% 5% 2% 10%

.message-tile
  position: relative
  -webkit-flex: 1 1 auto
  background: white
  margin: 3%
  padding: $message-tile-padding
  box-shadow: 0 0 17px rgba(0,0,0,.12)
  cursor: pointer
  min-width: 200px
  max-width: 300px
  max-height: 300px

  .cancel
    position: absolute
    top: 10px
    right: 10px
    height: 28px
    width: 28px
    background: url('/images/icon-cancel.png') center center no-repeat
    opacity: 0
    -webkit-transition: opacity 200ms cubic-bezier(0.700, 0.250, 0.480, 0.900)

  &:hover .cancel
    opacity: 1


.message-tile-sender-name
  font-size: 25px
  color: black
  margin-bottom: 11px

.message-tile-teaser
  color: black
  max-height: 88px
  overflow: hidden
  padding-right: 56px

.message-tile-avatar
  width: $message-title-avatar-size
  height: $message-title-avatar-size
  position: absolute
  right: 0
  bottom: 0
