$main-color: #5CBF94
$message-tile-padding: 20px
$message-title-avatar-size: 66px

body, html
  padding: 0
  margin: 0
  background-color: $main-color
  font-family: 'Open Sans', sans-serif
  font-weight: 300

img
  margin: 0

[draggable]
  user-select: none

.inbox
  -webkit-transition: all 500ms cubic-bezier(0.700, 0.250, 0.480, 0.900)

.tiles-container
  display: -webkit-flex
  -webkit-justify-content: space-around
  /*-webkit-align-items: center;*/
  -webkit-flex-wrap: wrap
  margin: 1% 5% 2% 10%

.message-tile
  position: relative
  -webkit-flex: 1 1 auto
  background: white
  margin: 3%
  padding: $message-tile-padding
  box-shadow: 0 0 17px rgba(0,0,0,.12)

  cursor: pointer

  min-width: 200px
  min-height: 200px
  max-width: 300px
  max-height: 300px


.message-tile-sender-name
  font-size: 25px
  color: black
  margin-bottom: 11px

.message-tile-teaser
  color: black
  text-overflow: elipsis

.message-tile-avatar-placeholder
  float: right
  width: $message-title-avatar-size - $message-tile-padding + 10px /* 10px margin with text */
  height: $message-title-avatar-size - $message-tile-padding + 10px

.message-tile-avatar
  width: $message-title-avatar-size
  height: $message-title-avatar-size
  position: absolute
  right: 0
  bottom: 0




.s-workspace .inbox

  -webkit-transform: scale(0.3)


.tile-dropzone
  background: rgba(0,0,0, .06)

.stash-dropzone
  position: absolute
